html {
  font-family: 'Helevetica', sans-serif;
}

body {
  color: #333;
  font-weight: 100;
  max-width: 50em;
  margin: 0 auto;
}

#heading {
  font-size: 48px;
  padding-top: 20px;
  margin-top: 20px;
}

#content {
  padding-top: 10px;
  font-size: 24px;
  margin-top: 20px;
}
